@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Fragua Pro';
    src: url('@/assets/fonts/FraguaPro-BoldItalic/FraguaPro-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
  }
}